.backgroundFuncionario {
  background-image: url('../../Assets/img/backgroundFuncionario.png');
  background-size: cover;
  height: 83vh;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  width: 260px;
  height: 280px;
  background: #1a1a1a;
  border-radius: 5px;
  padding: 70px 30px;
  text-align: center;
}

.centralizaLogin {
  text-align: center;
  margin: 0 auto;
}

.logoLogin {
  width: 35%;
  margin-top: -10px;
  margin-bottom: 7px;
}

.tituloLogin {
  font-size: 30px;
  text-align: center;
}

.loginTitulo {
  margin-bottom: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25rem;
}

.inputLogin {
  width: 220px;
  height: 30px;
  border: none;
  outline: none;
  margin-bottom: 25px;
}

.inputLogin::placeholder {
  color: #000;
  font-size: 0.85rem;
  padding-left: 5px;
}
